ol{
    border: 2px solid black;
    width: 250px;
    padding: 5px;
    list-style-type: none;
    } /*stvaranje obruba oko liste te isključivanje brojanja koje sam dodala u tekst da bi se nalazio iza zastava*/
a {
    padding: 3px 3px 3px 35px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
} /*uređivanje svih elemenata liste te definiranje običnih crnih slova ako miš nije na linku*/
a:hover{
    text-decoration: underline;
    text-transform: uppercase;
    color: red;
} /*kada mišem dođemo na link onda ga mijenja u velika crvena podcrtana slova*/
li:last-child{margin-bottom: 0px;}  /*zadnji element liste nema donju marginu*/

[lang="en-GB"]{
    background-image: url("Pictures/en-GB.png");
    background-position: 1% center;
    margin: 5px;
    background-repeat: no-repeat;
    background-color:rgba(00,255,00, 0.75);
} /*dodavanje zastave i pozadinske boje za britanske klubove*/
[lang="es"]{
    background-image: url("Pictures/es.png");
    background-position: 1% center;
    margin: 5px;
    background-repeat: no-repeat;
    background-color:rgba(00,00,255, 0.5);
}  /*dodavanje zastave i pozadisnke boje za španjolske klubove*/
[lang="de"]{
    background-image: url("Pictures/de.png");
    background-position: 1% center;
    margin: 5px;
    background-repeat: no-repeat;
    background-color: rgba(255,00,00, 0.25);
} /*dodavanje zastave i pozadinske boje za njemačke klubove*/
